@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

:root {
  --color-white: #fff;
  --color-primary: #d99058;
  --color-primary-300: #d9905857;
  --color-secondary: #701c1c;

  --color-dark: #0a182e;
  --color-dark-primary: #1c3253;
}

.container {
  max-width: 1300px;
  margin: auto;
}
