@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  
  --color-dark: #0a182e;
  --color-light: #f3f3f3;

  --color-primary-light: #d99058;
  --color-primary-dark: #1c3253;
  
}

.container {
  max-width: 1300px;
  margin: auto;
}